<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proje_Hastane.Properties.Settings.StockProjectDBConnectionString"
            connectionString="Data Source=DESKTOP-E2ATBC5\SQLEXPRESS;Initial Catalog=StockProjectDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>